SERVER_HOST=127.0.0.1
SERVER_PORT=8084

GRPC_SERVER_ADDR=localhost:8099

POSTGRES_HOST=localhost
POSTGRES_PORT=5440
POSTGRES_DB=transcoder
POSTGRES_USER=transcoder
POSTGRES_PASSWORD=transcoder_password
POSTGRES_SSLMODE=disable

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_STREAM_NAME=transcoder_jobs
REDIS_GROUP_NAME=transcoder_group

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_USE_SSL=false
MINIO_UPLOAD_BUCKET=uploads
MINIO_DOWNLOAD_BUCKET=downloads
MINIO_CONNECT_MAX_ATTEMPTS=20
MINIO_CONNECT_INITIAL_BACKOFF=1s
MINIO_CONNECT_MAX_BACKOFF=10s

JWT_SECRET=change_me_please
JWT_ISSUER=transcoder
JWT_TTL_MINUTES=60

FFMPEG_PATH=/usr/bin/ffmpeg
FFPROBE_PATH=/usr/bin/ffprobe

WORKER_COUNT=4
WORKER_JOB_BUFFER=100
WORKER_RESULT_BUFFER=100
WEB_SERVER_URL=http://localhost:8084
LOG_LEVEL=info
